[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/safe-global/safe-smart-account.git
[submodule "lib/lido-dao"]
	path = lib/lido-dao
	url = https://github.com/lidofinance/lido-dao
[submodule "lib/Uniswap-v4"]
	path = lib/Uniswap-v4
	url = https://github.com/Uniswap/v4-core
[submodule "lib/lens-protocol"]
	path = lib/lens-protocol
	url = https://github.com/lens-protocol/core
	branch = main